<% visitor = notification.visitor %>
<% end %>
<% visited = notification.visited %>

    <div class="col-md-6 mx-auto" ></div>
        <div class="form-inline" >
            <span>
                <%= link_to user_path(visitor) do %>
                    <%= image_tag avatar_url(visitor).to_s, class: "icon_mini" %>
                    <strong>
                        <%= visitor.name %>
                    </strong>
                <%= 'さんが' %>
            </span> 

                <% case notification.action %> <% end %>
                <% when 'comment' then %>
                    <%  if notification.post.user_id == visited.id %>
                            <%= link_to "あなたの投稿", notification.post, style: "font-weight: bold;"%>
                        <%  else %>
                            <span>
                                <%= link_to post_path(notification.post) do %>
                                <%= image_tag avatar_url(notification.post.user).to_s, class: "icon_mini" %>
                                <strong>
                                    <%= notification.post.user.name + 'さんの投稿' %>
                                </strong>
                            </span>
                        <%= "にコメントしました" %>
                            <p class="text-muted mb-0"></hoge>
                        <%= Comment.find_by(id: notification.comment_id)&.comment %>
                    <% end %>
                <% end %>

        </div>

        <div class="small text-muted text-right" >
            <%= time_ago_in_words(notification.created_at).upcase %>
        </div>
    </div>
<% end %>

<hr>
